@import '../styles/variables.scss';

.main {
  min-height: 100vh;
  background-color: $white;
  padding: 20px 0 30px;

  @media (min-width: 768px) {
    padding: 30px 16px;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 30px;
  line-height: 120%;

  @media (min-width: 768px) {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
}

.programs {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (min-width: 768px) {
    gap: 50px;
  }
}

.program {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    gap: 30px;
  }
}

.programTitle {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 26px;
  }
}

.modules {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.rectangles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 40px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
}

.practicalModule {
  position: relative;
  background-color: $red;
  padding: 24px;
  color: $white;
  overflow: hidden;

  @media (min-width: 768px) {
    padding: 32px;
  }
}

.practicalModule::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43px 0 0 43px;
  border-color: transparent transparent transparent $dark-red;
  z-index: 5;
}

.practicalModule::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 43px 43px 0;
  border-color: transparent $white transparent transparent;
  z-index: 4;
}

.finalModule {
  background-color: $dark;
  padding: 24px 24px 32px;
  color: $white;

  @media (min-width: 768px) {
    padding: 32px;
  }
}

.rectangleTitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 130%;

  @media (min-width: 768px) {
    font-size: 36px;
    margin-bottom: 24px;
  }
}

.rectangleText {
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.finalList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.finalItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.finalItem:last-child {
  margin-bottom: 19px;
}

.dot {
  @include dot;
}

.dotInner {
  @include dotInner;
}

.itemText {
  @include itemText;
}
