@import '../styles/variables.scss';

.module {
  position: relative;

  @media (max-width: 767px) {
    &.active {
      .moduleButton {
        background-color: $red;
        color: $white;

        .icon {
          color: $white;
        }
      }

      .moduleList {
        background-color: $white;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}

.moduleHeader {
  position: relative;

  @media (min-width: 768px) {
    width: 35%;
    float: left;
  }
}

.moduleLine {
  display: none;

  @media (min-width: 768px) {
    display: block;
    width: 140px;
    border-top: 2px solid $red;
    margin-bottom: 30px;
  }
}

.moduleButton {
  width: 100%;
  text-align: left;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  border: none;
  cursor: pointer;
  border-radius: 4px;

  @media (min-width: 768px) {
    cursor: default;
    pointer-events: none;
    background-color: transparent;
    padding: 0;
  }
}

.moduleTitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;

  @media (min-width: 768px) {
    font-size: 32px;
  }
}

.icon {
  color: $red;

  @media (min-width: 768px) {
    display: none;
  }
}

.moduleList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 0 16px;
  background-color: $white;

  &.expanded {
    max-height: 1000px;
    opacity: 1;
    padding: 16px;
  }

  @media (min-width: 768px) {
    max-height: unset;
    opacity: 1;
    overflow: visible;
    transition: none;
    width: 60%;
    float: right;
    padding: 0;
  }
}

.moduleItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 4px;
}

.dot {
  @include dot;
}

.dotInner {
  @include dotInner;
}

.itemText {
  @include itemText;
}

@media (prefers-reduced-motion: reduce) {
  .moduleList {
    transition: none;
  }
}
